################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Pofn/v16/Browse.VC.db
/.vs/Pofn/v16/Browse.VC.opendb
